spring:
  application:
    name: mktekhub-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/mktekhub
    username: muhiddin
    password: 
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    user:
      name: admin
      password: admin

server:
  port: 8080
springdoc:
  api-docs:
    path: /api-docs