spring:
  application:
    name: mktekhub-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/mktekhub
    username: muhiddin
    password: 
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format-sql: true
    hibernate:
      ddl-auto: validate
    show-sql: true

server:
  port: 8080

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000
springdoc:
  api-docs:
    path: /api-docs


logging:
  level:
    com.mktekhub: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.security: DEBUG